<div class="article">
  <% @articles.reverse.each do |article| %>
    <h1><%= link_to article.title, article_path(article) %></a></h1>
    <em class="timestamp"><%= article.created_at.strftime("%A, %B %d, %Y") %></em>
    <p>
    <%=
      truncate(strip_tags(article.text), length: 500) {
        link_to raw("<p><em>Continue reading <i class=\"fa fa-arrow-circle-o-right\"></i></em></p>"), article_path(article), :id => "continue", :class => "right"
      }
    %>
    </p>
     
    <% if current_user %>
      <%= link_to 'Edit', edit_article_path(article) %>
      | <%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <hr>
  <% end %>
</div>