<div class="article">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= simple_format(@article.text) %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', articles_path, :class => "button" %>
    <% if current_user %>
		 <%= link_to 'Edit', edit_article_path(@article), :class => "button" %>
		 <%= link_to 'Destroy', article_path(@article),
                    method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert" %>
	<% end %>
</div>