<div class="article">
	<em class="timestamp"><%= @article.created_at.strftime("%B %d, %Y") %></em>
	<h1><%= @article.title %></h1>
	 
	<p>
	  <%= simple_format(@article.text) %>
	</p>

	<% if current_user %>
		<%= link_to 'Back', articles_path, :class => "button" %>
		<%= link_to 'Edit', edit_article_path(@article), :class => "button" %>
		 <%= link_to 'Destroy', article_path(@article),
	                method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert" %>
	<% else %>
		<%= link_to raw("<p><em><i class=\"fa fa-arrow-circle-o-left\"></i> Back</em></p>"), articles_path, :id => "continue" %>
	<% end %>

	<h3>Add a comment:</h3>
	<%= render "comments/form" %>

	<h3>Comments</h3>
	<%= render @article.comments %>

</div>